<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque tempore vero, asperiores sed perspiciatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis deserunt veritatis rerum, facere molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae consequuntur temporibus soluta cupiditate corrupti?</p>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>